.secondfooter{
    background-color: red;
    display: flex;
    border-radius: 0 0 25px 25px;

}
.firstfooter{
    background-color: pink;
    display: flex;
    border-radius: 0 0 25px 25px;


}
.thirdfooter{
    background-color: green;
    display: flex;
    border-radius: 0 0 25px 25px;

    


}
.maincard{
    background-color: burlywood;
    display: flex;
    gap: 50px;
    padding: 5%;
    justify-content: center;

}
.firstcard{
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: 2px;
    margin-bottom: 3px;
}
.secondcard{
    background-color: aliceblue;
    border-radius: 25px;
    margin-right: 2px;


}
.thirdcard{
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: 3px;
    margin-bottom: 3px;


}
 .maincard p{
    text-align: center;
 }


 
 .firstcard h5{
    color: pink;
    text-align: center;
 }
 .secondcard h5{
    color: orange;
    text-align: center;
 }
 .thirdcard h5{
    color:green;
    text-align: center;
 }
  .maincard h1{
    text-align: center;
 }
 .firstfooter p{
    margin-left: 20px;
    color: white;
    
 }
 .secondfooter p{
    margin-left: 20px;
    color: white;
    
 }
 .thirdfooter p{
    margin-left: 20px;
    color: white;
 }
    
 img{
   border-radius: 25px 25px 0 0;
}